# dependencies
node_modules

# testing
coverage

# database
data

# production
build
dist

# deploy
deploy_key

# misc
*.log
.DS_Store
.idea
.vscode
.env.local
.env.staging.local
.env.development.local
.env.test.local
.env.production.local
