# dependencies
node_modules

# testing
coverage
.*.sh

# database
data

# production
build
dist
dist_migrations

# deploy
deploy_key

# misc
*.log
.DS_Store
.idea
.vscode
.env
.env.local
.env.staging.local
.env.development.local
.env.test.local
.env.production.local

# graphql webstorm plugin
config/.graphqlconfig
config/schema.graphql
